<h2 class="">Albums</h2>

<form class="filteralbum mt-3 border border-primary rounded-lg p-3">
    <h4 class="">Filter By:</h4>
    <div class=" d-flex flex-wrap mb-3 mt-3">
        <div class="input-group mr-3 filteralbum-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Genre</span>
            </div>
            <select class="custom-select filteralbum-select" name="Genre">
                <option selected value="">Any</option>
                <option value="R&B">Rhythm and Blues</option>
                <option value="CCM">Contemporary Christian Music</option>
                <option value="Pop">Pop</option>
            </select>
        </div>
        <div class="input-group filteralbum-group">
            <div class="input-group-prepend">
              <span class="input-group-text">Artist</span>
            </div>
            <select class="custom-select filteralbum-select" name="Artist">
                <option selected value="">Any</option>
                <option value="Rihanna">Rihanna</option>
                <option value="Steven Curtis Chapman">Steven Curtis Chapman</option>
                <option value="Chris Tomlin">Chris Tomlin</option>
                <option value="Newsboys">Newsboys</option>
                <option value="the Weeknd">the Weeknd</option>
                <option value="Lizzo">Lizzo</option>
                <option value="Adele">Adele</option>
                <option value="Beyoncé">Beyoncé</option>
                <option value="Taylor Swift">Taylor Swift</option>
                <option value="Ariana Grande">Ariana Grande</option>
                <option value="Dua Lipa">Dua Lipa</option>
                <option value="Needtobreathe">Needtobreathe</option>
            </select>
        </div>
    </div>
</form>

<div class="albums d-flex flex-wrap mt-3">

</div>

