$fontsize--title: 36px;
$fontsize--subtitle: 24px;
$fontsize--normal: 16px;
$fontsize--tiny: 10x;

$lineheight--title: 54px;
$lineheight--subtitle: 36px;
$lineheight--normal: 24px;
$lineheight--tiny: 15px;

$lineheight--title: 54px;
$lineheight--subtitle: 36px;
$lineheight--normal: 24px;
$lineheight--tiny: 15px;

$letterspacing--title: -2px;
$letterspacing--tiny: 1px;

$color--1: #2699FB;
$color--2: #7FC4FD;
$color--3: #BCE0FD;
$color--4: #F1F9FF;
$color--5: #FFFFFF;