.callout {
    width: 600px;
    height: 200px;
    margin-top: 48px;

    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-evenly;

    &__title {
        color: $white;
        margin-bottom: 0px;
    }

    &__form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__zipcode {
        width: (8px * 15);
        height: 40px;

        // line-height: 40px;
        font-size: 32px;
        text-align: center;
        @include borderradius;
    }

    &__button {
        margin-top: 16px;
        font-size: 16px;
        padding: 5px;
        cursor: pointer;
        @include borderradius;
    }
}