* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}

h1, h2, h3, h4, h5, h6, p {
    margin-bottom: 16px;
}

.content {
    min-height: 100%;
    background-image: linear-gradient(to bottom, rgba($blue--med, 0.9), rgba($blue--med, 0.7));

    display: flex;
    flex-direction: column;
    // justify-content: center;
    align-items: center;
    // flex-wrap: wrap;
}

*[hidden] {
    height: 0;
}