/* 
    --------------------------------------------------------------------------------
    COLORS
    #1B72BF - Dark Blue
    #348ABF - Med Blue
    #7EBFD9 - Light Blue
    #F2D377 - Yellow
    #F2B366 - Peach Orange
    --------------------------------------------------------------------------------
*/

$blue--dark: #1B72BF;
$blue--med: #348ABF;
$blue--light: #7EBFD9;
$blue--yellow: #F2D377;
$blue--peach: #F2B366;

$white: #FFFFFF;
$black: #000000;

$fontsize--title: 24px;
$fontsize--focus: 96px;
$fontsize--detail: 18px;